<div class="homepage">
  <div class="container text-center">
    <h1 class="mb-1">Personal Budget</h1>
    <h3 class="mb-5"><em>A Personal Budget Management App</em></h3>
    <a
      class="btn btn-primary btn-xl js-scroll-trigger"
      role="button"
      href="#about"
      style="margin: 5px" [routerLink]="['/login']"
      >Login</a
    ><a
      class="btn btn-primary btn-xl js-scroll-trigger"
      role="button"
      href="#about"
      style="margin: 5px" [routerLink]="['/signup']"
      >Sign Up</a
    >
    <div class="overlay"></div>
  </div>
</div>
