<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Budget</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"  (click)="onClose()"
        >
          ×
        </button>
      </div>
      <div class="container"></div>
      <div class="modal-body">
        <div class="container-lg">
          <div class="table-responsive">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-4">
                    <a
                      data-toggle="modal"
                      href="#myModal2"
                      class="btn btn-primary"
                      >Add Category</a
                    >
                  </div>
                </div>
              </div>
              <br />
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Planned Budget</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rows of budget | keyvalue">
                    <td>{{ rows.key }}</td>
                    <td>{{ rows.value }}</td>
                    <td>
                      <a class="add" title="Delete" data-toggle="tooltip" (click)="OnDelete(rows)"
                        ><i class="fa fa-trash"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn" (click)="onClose()">Close</a>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="myModal2" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Category</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="container"></div>
      <div class="modal-body">
        <div class="form-group">
          <label for="Category">Category</label>
          <input
            type="text"
            class="form-control"
            id="Category"
            placeholder="Enter Category"
            name="Category"
            [(ngModel)]="category"
          />
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            placeholder="Enter amount"
            name="amount"
            [(ngModel)]="amount"
          />
        </div>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Close</a>
        <a
          class="btn btn-primary"
          (click)="onAddCategory(category, amount)"
          data-dismiss="modal"
          >Add</a
        >
      </div>
    </div>
  </div>
</div>
