<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Personal Budget</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        (click)="onChangeMenu('Dashboard')"
        style="cursor: pointer"
        >Dashboard</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        (click)="onChangeMenu('Transactions')"
        style="cursor: pointer"
        >Transactions</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="OnLogout()" style="cursor: pointer"
        >Log Out</a
      >
    </li>
  </ul>
</nav>
<div style="width: -webkit-fill-available">
  <app-dashboard *ngIf="selectedMenu == 'Dashboard'"></app-dashboard>

  <app-transactions *ngIf="selectedMenu == 'Transactions'"></app-transactions>
</div>
