<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <div class="container-fluid" style="padding: 15px">
      <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3>
      </div>
      <div class="row">
        <div class="col-md-4 col-xl-3 mb-4">
          <div class="card shadow border-left-primary py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div
                    class="text-uppercase text-primary font-weight-bold text-xs mb-1"
                  >
                    <span>Total Budget</span>
                  </div>
                  <div class="text-dark font-weight-bold h5 mb-0">
                    <span>${{ totalBudget }}</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 mb-4">
          <div class="card shadow border-left-success py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div
                    class="text-uppercase text-success font-weight-bold text-xs mb-1"
                  >
                    <span>Total Amount Spent</span>
                  </div>
                  <div class="text-dark font-weight-bold h5 mb-0">
                    <span>${{ totalSpent }}</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 mb-4">
          <div class="card shadow border-left-info py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div
                    class="text-uppercase text-info font-weight-bold text-xs mb-1"
                  >
                    <span>Total Amount Remaining</span>
                  </div>
                  <div class="text-dark font-weight-bold h5 mb-0">
                    <span>${{ totalSaving }}</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 mb-4">
          <div class="card shadow border-left-info py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div class="text-dark font-weight-bold h5 mb-0">
                    <select
                      type="text"
                      class="form-control"
                      id="Category"
                      placeholder="Enter category"
                      name="month"
                      [(ngModel)]="month"
                      (change)="onChangeMonth($event.target.value)"
                    >
                      <option
                        *ngFor="let order of dataService.months"
                        [value]="order"
                        [attr.selected]="true"
                      >
                        {{ order }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-auto">
                  <button
                    class="mdc-fab"
                    aria-label="Favorite"
                    data-toggle="modal"
                    data-target="#monthModel"
                  >
                    <div class="mdc-fab__ripple"></div>
                    <span class="mdc-fab__icon material-icons">add</span>
                  </button>
                </div>
                <div class="modal" id="monthModel">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Add Month</h4>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-hidden="true"
                        >
                          ×
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <select
                              type="text"
                              class="form-control"
                              id="month"
                              name="month"
                              [(ngModel)]="addmonthSelected"
                            >
                              <option
                                *ngFor="let order of dataService.allmonths"
                                [value]="order"
                                [attr.selected]="true"
                              >
                                {{ order }}
                              </option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <select
                              type="text"
                              class="form-control"
                              id="years"
                              name="years"
                              [(ngModel)]="addyearSelected"
                            >
                              <option
                                *ngFor="let order of years"
                                [value]="order"
                                [attr.selected]="true"
                              >
                                {{ order }}
                              </option>
                            </select>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6 py-2">
                            <button
                              class="mdc-button mdc-button--raised"
                              (click)="
                                addMonthToBudget(
                                  addmonthSelected,
                                  addyearSelected
                                )
                              "
                              data-dismiss="modal"
                            >
                              <span class="mdc-button__label">Add Month</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-xl-8">
            <div class="card shadow mb-4">
              <div
                class="card-header d-flex justify-content-between align-items-center"
              >
                <h3 class="text-primary font-weight-bold m-0">
                  Spent amount vs budget
                </h3>
              </div>
              <div class="card-body">
                <div>
                  <canvas id="barChart" style="padding: 40px"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="card shadow mb-4">
              <div
                class="card-header d-flex justify-content-between align-items-center"
              >
                <h3 class="text-primary font-weight-bold m-0">
                  Planned Budget
                </h3>
              </div>
              <div class="card-body">
                <div>
                  <canvas id="myChart"></canvas>
                </div>

                <div class="text-center small mt-4">
                  <button
                    type="button"
                    class="btn btn-secondary btn-lg"
                    data-toggle="modal"
                    data-target="#myModal"
                  >
                    Edit Budget
                  </button>
                </div>
                <!-- Modal -->

                <app-budget-modal
                  [budget]="budget"
                  (childEvent)="reload($event)"
                ></app-budget-modal>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4"></div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Copyright © Brand 2020</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<div class="text-center small mt-4">
  <button
    type="button"
    id="refresh"
    class="btn btn-secondary btn-lg"
    data-toggle="modal"
    style="visibility: hidden"
    data-target="#timeoutModal"
  >
    Refresh Token
  </button>
</div>
<div class="modal" id="timeoutModal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Your Session is about to Expire</h4>
        <button
          type="button"
          id="closeRefreshModal"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          (click)="onRefreshTimer()"
          data-dismiss="modal"
        >
          Refresh Token
        </button>
      </div>
    </div>
  </div>
</div>
